.w3-bar .w3-button{
    margin-right:10px;
    width:150px;
}

body {
    background-color: #ffe6cc;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}